<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--上下文名称-->
    <contextName>deer-web-portal-context</contextName>
    <!--定义一个变量-->
    <property name="logging_root" value="logs"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%date [%-5level] [%thread] %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging_root}/hlinks-default.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging_root}/hlinks-default.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date [%-5level] [%thread] %logger{80} - %msg%X{traceId}%n</pattern>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ERROR 日志 -->
    <appender name="FILE-ERROR-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging_root}/hlinks-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging_root}/hlinks-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%-5level] [%thread] %logger{80} - %msg%X{traceId}%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 用来设置某一个包或者具体的某一个类的日志打印级别、以及指定<appender> -->
    <logger name="com.shaobingmm" level="DEBUG">
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="FILE-ERROR-APPENDER"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>